.invalid-form-error {
    font-size: 80%;
    width: 100%;
    margin-top: .25rem;
    color: #fb6340;
    padding: 5px 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

 

.otp-text.ng-invalid {
  color: red;
}