<main>
    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card bg-secondary shadow border-0">
             
              <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                  <small>Enter your email for send OTP</small>
                </div>
                <form [formGroup]="forgotForm"   >
                  <div class="form-group">
                    <div class="invalid-form-error" *ngIf="error" >{{ error }}</div>
                  </div>
                  <div class="form-group"[ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                      <input class="form-control" placeholder="Email" formControlName="email" name="email"  type="email" (focus)="focus1=true" (blur)="focus1=false">
                      <div *ngIf="submitted && f.email.errors" class="invalid-form-error">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email addresss</div>
                      
                      </div>
                    </div>
                  </div>
                 
                   
                  <div class="text-center">
                    <button type="button" class="btn btn-primary mt-4"   (click)="sendOTP()">SEND OTP</button>
                  </div>
                </form>
                
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-6">
                <a  [routerLink]="['/login']" href="javascript:void(0)" class="text-light">
                  <small>Try login?</small>
                </a>
              </div>
               
            </div>
                   
          </div>
        </div>
      </div>
      
    </section>
  </main>
  